<h1>{{apod.title}}</h1>

{{#if apod.is_image }}
  <img src="{{ apod.url }}">
{{else}}
  <P>Today's picture is a video or another media type.
    <a href="{{ apod.url }}">Please click here to view.</a></P>
{{/if}}

<P>{{ apod.credit }}</P>
<P>{{ apod.explanation }}</P>
<P>This is NASA's Astronomy Picture of the Day for {{ apod.date }}.</P>

<P><a href="{{ apod.nasa_url }}">See this image at NASA's website</a></P>

<div class="addToFavorites">
  <form action="favorites/add" method="POST">
    <input type="hidden" name="date" value="{{apod.date}}">
    <input type="hidden" name="title" value="{{apod.title}}">
    <input type="hidden" name="url" value="{{apod.url}}">
    <input type="hidden" name="nasa_url" value="{{apod.nasa_url}}">
    <input type="submit" class="btn btn-success" name="add" value="Add to favorites">
  </form>
</div>

{{> navigation}}
